<p>Hello <%= @resource.name || "User" %>!</p>

<p>Someone has requested a link to change your password for Autism Services Locator. You can do this through the link below.</p>

<p><%= link_to 'Change my password', "https://autismserviceslocator.com/reset-password?reset_password_token=#{@token}" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>This link will expire in 6 hours.</p>

<p>If you have any questions, please contact support.</p>
